/* data-table enable scrollbar*/
.datatables {
    overflow: auto;
}

table {
    white-space: nowrap;
}

body .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}